<%- include('parts/header') %>




<section class="my-5">
    <h1 class="text-center">File Upload</h1>
    <div class="container my-5 d-flex justify-content-between">
        
       <div>
           <h2 class="text-center my-3">Incoming</h2>
           <form method="POST" action="/incoming" class="form-control mb-3">
            <input type="text" class="form-control" name="floatingInput" id="floatingInput" placeholder="name@example.com" style="width: 30rem;">
            <input type="number" class="form-control my-3" name="number" id="floatingNumber" placeholder="Enter the amount" >
            <button class="btn btn-primary" type="submit" style="width: 30rem;">Button</button>
           </form>
       </div>


          <div>
            <h2 class="text-center my-3">Outcoming</h2>
            <form method="POST" action="outcoming" class="form-control mb-3">
             <input type="text" class="form-control" name="text" id="floatingInput" placeholder="name@example.com" style="width: 30rem;">
             <input type="number" class="form-control my-3" name="floatingNumber"  id="floatingNumber" placeholder="Enter the amount" >
             <button class="btn btn-primary" type="submit" style="width: 30rem;">Button</button>
            </form>
        </div>

         
    </div>

   <div class="d-flex justify-content-between align-items-start">

    <div class="card border-light mb-3 m-auto" style="max-width: 25rem;">
        <h2 class="card-header"><%=x%></h2>
          <h5 class="card-title card-body">Light card title</h5>
          <table>
              <thead>
                  <tr>
                      <th>sabab</th>
                      <th>summa</th>
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <%for (let i of incoming1){%>
                        <td><%=i.floatingInput%></td>
                        <td><%=i.number%></td>
                        <%}%>
                  </tr>
              </tbody>
          </table>
      </div>

      <div class="card border-light mb-3 m-auto" style="max-width: 25rem;">
        <h2 class="card-header"><%=x-y%></h2>
          <h5 class="card-title card-body">Light card title</h5>
          <%console.log()%>
      </div>

      <div class="card border-light mb-3 m-auto" style="max-width: 25rem;">
        <h2 class="card-header"><%=y%></h2>
          <h5 class="card-title card-body">Light card title</h5>
          <table>
            <thead>
                <tr>
                    <th>sabab</th>
                    <th>summa</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <%for (let i of outcoming1){%>
                      <td><%=i.text%></td>
                      <td><%=i.floatingNumber%></td>
                      <%}%>
                </tr>
            </tbody>
        </table>
      </div>
   </div>
</section>